
	
        <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet" type = 'text/css'> 
        <p>Find me in app/views/mensajes/index.html.erb</p>

    <div class="container">
    <div class="jumbotron center">
      <p id="sl">MENSAJES</p>

      <p id="sl">Por el momento no cuentas con mensajes nuevos </p>

    </div>
    </div>
    <div class="container">
    <%= yield %>
    </div>

    <a class="navbar-brand" href="/arrendador/index">Regresa</a>